body {
    background-color: rgb(158, 158, 158);
  } 
  
  nav ul a,
  nav .brand-logo {
    color: rgb(253, 253, 253);
  }
  img {
    width : 93px;
  }
  
  .slider{
    height: 100%;
    width: 100%;
    display: block;
  }
  
  }
  p {
    line-height: 2rem;
  }
  h1 {
    color: #00a164;
    text-shadow: 4px 4px 4px #01462b;
  }
  
  h5 {
    color: whitesmoke;
    text-shadow: 4px 4px 4px #000000;
  }
  a {
    color: #00a164;
  }
  .sidenav-trigger {
    color: #008b56;
  }
  
  ::-webkit-slider-runnable-track {
    animation-name: none;
  }
  .parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
  }
    .parallax-container .section {
      width: 100%;
    }
  
    @media only screen and (min-width : 992px) {
      .sidenav,.sidenav-overlay {
        display: none !important;
      }
    }
  
  @media only screen and (max-width : 992px) {
    .parallax-container .section {
      position: absolute;
      top: 40%;
    }
    #index-banner .section {
      top: 10%;
    }
  }
  
  @media only screen and (mmin-width : 600px) {
    #index-banner .section {
      top: 0;
    }
  }
  
  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }
  
  footer.page-footer {
    width: 100%;
    margin: auto; 
    background: rgb(0, 104, 0); 
    overflow: hidden;
  }
  